<div>
<mat-toolbar>
  <mat-toolbar-row>
    <img routerLink="/mainpage" class="image" src="assets/LOGO5.png">
    <p *ngIf="authService?.isLoggedIn()"> Üdv {{authService.currentUser.nev}}!</p>
    <button *ngIf="!authService?.isLoggedIn()" mat-button routerLink="/login">Bejelentkezés</button>
    <button *ngIf="authService?.isLoggedIn()" mat-button (click)="authService.logout()">Kijelentkezés</button>
    <button *ngIf="authService?.isAdmin()" mat-button [matMenuTriggerFor]="menu">Admin menü</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="admin/movies">Filmek kezelése</button>
        <button mat-menu-item routerLink="admin/programme">Műsor kezelése</button>
      </mat-menu>
    <span class="fill-space"></span>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input #search type="text" placeholder="Film keresése" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete (optionSelected)="searchForMovie(search.value)" #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

  </mat-toolbar-row>
</mat-toolbar>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle routerLink="/programmepage">Műsor</mat-button-toggle>
  <mat-button-toggle routerLink="/filterpage">Filmek szűrése</mat-button-toggle>
</mat-button-toggle-group>
<router-outlet></router-outlet>
</div>