.limitedsize {
    max-height: 120px;
    overflow: auto;
}

.programme-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: auto;
}

.programme-table thead tr {
    background-color: darkslategray;
    color: white;
    text-align: left;
    font-weight: bold;
}

.programme-table th,
.programme-table td {
    padding: 12px 15px;
    text-align: justify;
    max-height: 50px;
    overflow: auto;
}

.programme-table tbody tr {
    border-bottom: 1px solid grey;
}

.programme-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.programme-table tbody tr:nth-of-type(odd) {
    background-color: #e1e7f7;
}

.programme-table tbody tr:last-of-type {
    border-bottom: 2px solid darkslategray;
}