<h3>Műsor kezelése</h3>
<table class="programme-table">
  <thead>
      <tr>
          <th>Film Címe</th>
          <th>Vetítés időpontja</th>
          <th>Típus</th>
          <th>Nyelv</th>
          <th>Terem</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let s of shows">
          <td>{{ s.film.cim }}</td>
          <td>{{ s.idopont }}</td>
          <td>{{ s.tipus }}</td>
          <td>{{ s.nyelv }}</td>
          <td>{{ s.terem.id }}</td>
          <td><button (click)="deleteShow(s.id)" mat-button>Törlés</button></td>
      </tr>
  </tbody>
</table>
<button routerLink="/admin/programme/new" mat-raised-button>Új vetítés hozzáadása</button>