<form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <div *ngIf="invalidLogin" class="error-message">Helytelen felhasználónév/jelszó</div>
    <mat-form-field>
      <input matInput formControlName="name">
    </mat-form-field>
     <mat-form-field>
        <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button routerLink="/">Vissza</button>
    <div class="divider"></div>
    <button mat-raised-button type="submit">Bejelentkezés</button>
</form>