<h2></h2>
<table style="width: 80%">
  <td>
    <h3 class="categories">Kategóriák:</h3>
  </td>
  <td>
    <tr>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedCategory">
          <mat-option 
          *ngFor="let category of categories"
          [value]="category">{{ category.megnevezes }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </tr>
  </td>
  <td>
      <h3 class="categories">Megjelenési év:</h3>
  </td>
  <td>
      <mat-form-field>
          <mat-label>Mettől</mat-label>
          <mat-select [(ngModel)]="selectedStartingYear">
            <mat-option 
            *ngFor="let year of years"
            [value]="year">{{ year.number }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </td>
  <td>
      <mat-form-field>
          <mat-label>Meddig</mat-label>
          <mat-select [(ngModel)]="selectedEndingYear">
              <mat-option 
              *ngFor="let year of years"
              [value]="year">{{ year.number }}
              </mat-option>
          </mat-select>
        </mat-form-field>
  </td>
  <td>
    <button mat-raised-button (click)="filter()">Szűrés</button>
  </td>

</table>
<h2 class="categories">Szűrésnek megfelelő filmek:</h2>
<app-movie *ngFor="let movie of filteredMovies"
    [cim]="movie.cim"
    [ev]="movie.ev"
    [kepUrl]="movie.kep"
    [routerLink]="['/moviepage', movie.id]">
</app-movie>