<table style="width: 90%">
  <td>
    <h3 class="categories">Kategóriák:</h3>
  </td>
  <td>
    <tr>
      <mat-checkbox color="primary" style="width:60%">Vígjáték</mat-checkbox>
    </tr>
    <tr>
      <mat-checkbox color="primary">Horror</mat-checkbox>
    </tr>
    <tr>
      <mat-checkbox color="primary">Dráma</mat-checkbox>
    </tr>
    <tr>
      <mat-checkbox color="primary">Thriller</mat-checkbox>
    </tr>
    <tr>
      <mat-checkbox color="primary">Krimi</mat-checkbox>
    </tr>
  </td>
  <td>
      <h3 class="categories">Év:</h3>
  </td>
  <td>
      <mat-form-field>
          <mat-label>Mettől</mat-label>
          <mat-select>
          </mat-select>
        </mat-form-field>
  </td>
  <td>
      <mat-form-field>
          <mat-label>Meddig</mat-label>
          <mat-select>
          </mat-select>
        </mat-form-field>
  </td>
  <td>
      <h3 class="categories">Nyelv:</h3>
  </td>
  <td>
      <mat-form-field>
          <mat-label>Válassz nyelvet!</mat-label>
          <mat-select>
          </mat-select>
        </mat-form-field>
  </td>

</table>
<h2 class="categories">Szűrésnek megfelelő filmek:</h2>