<div class="grid">
    <div>
      <h3>Helyfoglalás</h3>
      <p>Kérjük add meg az email címed!</p>
      <table>
        <tr>
          <td>
            <form #formcontrol="ngForm">
              <mat-form-field>
                  <input name="email" [(ngModel)]='email' matInput placeholder="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              </mat-form-field>
            </form>
          </td>
        </tr>
        
        <tr>
          <td>
            <h4 style="text-align: left; padding-top: 10px;">Kattints egy helyre a foglaláshoz:</h4>
          </td>
          <td>
            <ng-container *ngFor="let seat of seats; let i=index">
            <br *ngIf="i % 10 == 0">
            <div class="space">
              <mat-checkbox [disabled]="seat.taken" (change)="seatClick(seat.id)"></mat-checkbox>
            </div>
            </ng-container>
          </td>
        </tr>
        <tr>
          <button routerLink="/programmepage" mat-raised-button>Vissza</button>
          <button (click)="reserve()" routerLink="/programmepage" [disabled]="!formcontrol.form.valid || !this.canBeReserved" mat-raised-button>Foglal</button>
        </tr>
      </table>
    </div>
    <div>
      <h1>{{ movie?.cim }}</h1>
      <img *ngIf="movie" class="movie-image" mat-card-image [src]="movie.kep"/>
    </div>
</div>


